/KnabCryptoExchange/.vs/
/KnabCryptoExchange/KnabCryptoExchange/bin/
/KnabCryptoExchange/KnabCryptoExchange/obj
/KnabCryptoExchange/KnabCryptoExchange.UnitTest/bin/
/KnabCryptoExchange/KnabCryptoExchange.UnitTest/obj/
/KnabCryptoExchange/KnabCryptoExchange/KnabCryptoExchange.csproj.user
