@{
    ViewData["Title"] = "Crypto Exchange";
}

<form asp-action="Exchange" method="post">
    <div class="form-group">
        <label for="inputValue">Enter a Crypto Currency Code:</label>
        <input type="text" id="cryptoCode" name="cryptoCode" placeholder="Enter a crypto currency code here, for ex: BTC, ETH" class="form-control" required />
    </div>
    <div></div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>