@{
    ViewData["Title"] = "Home Page";
}

<form asp-action="Exchange" method="post">
    <div class="form-group">
        <label for="inputValue">Enter a Crypto Currency Code:</label>
        <input type="text" id="cryptoCode" name="cryptoCode" class="form-control" required />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>